.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxbutton {
    flex: 1;
    flex-basis: 100%;
    max-width: 500px;
    border-style: solid;
    border-color: rgb(58, 34, 137);
    background-color: rgba(50, 46, 74, .85);
    border-width: 4px;
    color: white;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

.boxbutton:hover {
    background-color: rgba(50, 46, 74, .85);
    color: white;
  }



h1 {
    text-align: center;
  }

body {    
    background-color: rgba(252, 248, 225, 1);
    font-family: serif;
}

h2 {
    background-color: rgba(50, 46, 74, .85);
    color: white;
}

p {
    color: white;
    background-color: rgba(50, 46, 74, .85);
}

#aenor:hover {
    background-color: rgba(50, 46, 74, .85);
}

#aenor {
    background-image: url(aenor.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#isw {
    background-image: url(isw.png);
    background-repeat: no-repeat;
    background-size: cover;
}

