html {
    background-color: rgb(68, 68, 68);
    color: rgb(237, 237, 237)   ;
    justify-content: center;
    font-family: sans-serif;
}

.pagewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

h3 {
      color: gold;
  }

img {
      width: 100%;
  }

.contentbox {
    display: flex;
    justify-content: left;
    max-width: 70%;

  }

.boxtext {
    color: white;
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: rgba(50, 46, 74, .85);
  }

.boximg {
   width: 20%;
   padding: 5px;
  margin: 10px;
  border-style: solid;
  border-color: rgba(50, 46, 74, .85);
   
}

#freelanceoverview {
    text-align: center;
    max-width: 70%;
}